<!DOCTYPE html>
{%load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static 'css/regstyle.css' %}">
</head>

<body>

<div class="container">
    <div class="row first"><h1 CLASS="mh1">KKM Finance</h1></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 main">
            <h1>Customer Registration</h1>
            <form action="" method="post">
                {%csrf_token%}

                {{form|crispy}}
                <input type="submit" class="btn btn-warning btn1" value="Register">
                <a href="{%url 'signin' %}" class="btn btn-warning btn1"> Back</a>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>


</body>
</html>