
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
</head>

<body>


<div class="container">
    <div class="row first"><h1 CLASS="mh1">KKM Finance</h1></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 main">
         <form action="" method="post">
                {%csrf_token%}

                {{form.as_p}}
                <input type="submit" class="btn btn-warning btn1" value="Login">
         </form>
            <div class="reg mt-lg-5">
                <a href="{%url 'create' %}" class="btn btn btn-warning btn1">Create a new account</a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>


</body>
</html>